.playlist {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .playlist input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: black;
  }

  .playlist p {
    color:black;
  }
  
  .playlist button {
    background: #dc3545;
    color: white;
  }
  