.track {
  background-color: #f1ccb3;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border: 1px solid #ddd; /* Light border */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.track:hover {
  transform: scale(1.02); /* Slightly enlarges on hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.info {
  display: flex;
  flex-direction: column;
}
  
  .track h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .track p {
    margin: 0;
    color: #666;
    font-size: 14px;
  }
  
  .track button {
    background-color: #f1ccb3;
    font-weight: 500;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .track button:hover {
    background-color: #17a744;
  }
  